body
{
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F2E96B;

    background-image: url(images/bgtile.png);
    background-blend-mode: multiply;
}

img
{
    width: 100%;
    display: block;
}

#Main
{
    max-width: 1280px;
    margin: auto;
    background-color: #F2F2F2;
}

#Top
{
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-image: url(images/candybanner.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;

    display: flex;
    align-items: center;
}

#Top h1
{
    color: white;
    font-size: 5em;

    text-align: center;
    flex: 1;

    text-shadow: 5px 5px #000000;
}

#Posters
{
    display: flex;
    flex-wrap: wrap;
}

.Poster
{
    flex: 1;
    min-width: 350px;

    padding: 20px;
}

#Nav, #Footer
{
    display: flex;
    background-color: #BF6576;
    align-items: center;
}

#Nav a
{
    display: block;
    flex: 1;
    padding: 20px;
    text-align: center;
    font-weight: 600;

    text-decoration: none;
}

#Nav a:link
{
    color: #F2F2F2;
}

#Nav a:visited
{
    color: #F2F2F2;
}

#Nav a:hover
{
    
    background-color: #D98E04;
}

#Nav a:active
{
    background-color: #F2E96B;
    color: #A67360;
}

#Footer p
{
    flex: 1;
    text-align: center;
    padding: 20px;
    color: #F2F2F2;

    font-weight: 600;
}

#Content
{
    padding: 60px;
}

#Content h1
{
    padding: 20px;
    background-color: #A67360;
    margin-top: auto;
    color: #F2F2F2;
}